body {
    background-color:#F0FFF0;
    height:700px;
    min-width: 1150px;
}

h1 {
    margin-left: 50px;
    margin-right: 50px;
    padding-left:500px;
    display:block;
    background-color: blue;
    color:white;
    border-radius:10px;
    margin-top: 20px;
}

page{
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    height:600px;
}

footer{
    background-color: black;
    color:white;
    height:40px;
    margin-left:50px;
    margin-right:50px;
    padding-left: 50px;
    border-radius:10px;
}

#container {
    width:100%;
    height:600px;
	margin-top: 4px;
    margin-left:30px;
}

#left {
    float:left;
    height:100%;
    width:53%;
	border:0px;
	border-right: 1px;
	border-color: rgba(0,0,0,0.3);
	border-style: solid;
    padding-left:20px;
}

#right {
    float:left;
    height:100%;
    width:37%;
    padding-left:10px;
}

h2 {
    padding-left: 100px;
    color: blue;
}